name: Auto Generate ESXi-v60-net-r8101 iso
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true
        default: 'ESXi60-net-r8101'
      driver:
        description: 'Driver Name'
        required: true
        default: 'net-r8101'

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
           python-version: '3.7' 
      - name: Python Check
        shell: bash
        run: |
          which python && which pip3
          python --version && pip3 --version
      
      #- name: Install Python3.7
      #  shell: bash
      #  run: |
      #    sudo apt-get update && sudo apt-get install wget make gcc unzip -y
      #    wget /opt/Python-3.7.0.tgz https://www.python.org/ftp/python/3.7.0/Python-3.7.0.tgz
      #    cd /opt/ && tar -zxvf Python-3.7.0.tgz 
      #    cd /opt/Python-3.7.0 && ./configure --prefix=/opt/python37 && make -j 32 && make install
          
      - name: Install Powershell
        shell: bash
        run: |
          sudo apt-get update && sudo apt-get install -y wget apt-transport-https software-properties-common
          wget -q "https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb"
          sudo dpkg -i packages-microsoft-prod.deb
          sudo apt-get update && sudo apt-get install -y powershell
          
      - name: Install VMware.PowerCli and Dependency
        shell: bash
        run: |
          pwsh -c “Set-PowerCLIConfiguration -Scope User -ParticipateInCEIP $false”
          pwsh -c ”Install-Module -Name VMware.PowerCLI -Force -AcceptLicense -Confirm True“
          pwsh -c “Set-PowerCLIConfiguration -PythonPath /opt/hostedtoolcache/Python/3.7.15/x64/bin/python  -Scope User”
          /opt/hostedtoolcache/Python/3.7.15/x64/bin/pip install six psutil lxml pyopenssl
          
      - name: Download ESXi-Customizer-PS Script
        shell: bash
        run: |
          wget -O ESXi-Customizer-PS-2.9.0.zip https://github.com/VFrontDe-Org/ESXi-Customizer-PS/archive/refs/tags/2.9.0.zip
          unzip ESXi-Customizer-PS-2.9.0.zip && cd ESXi-Customizer-PS-2.9.0
          pwsh ./ESXi-Customizer-PS.ps1 -h

      - name: Customize Exsi ISO
        shell: bash
        run: |
          cd /mnt/ESXi-Customizer-PS-2.9.0
          pwsh -c "./ESXi-Customizer-PS.ps1 -nsc -vft -load sata-xahci,${{ github.event.inputs.driver }} -ipname ${{ github.event.inputs.tag }} -outDir ..\"
          ls -l /mnt
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.TOKEN }}
          name: ${{ github.event.inputs.tag }}
          tag_name: ${{ github.event.inputs.tag }}
          files: |
            ${{ github.event.inputs.tag }}.iso
