name: EXSi_80_I225V
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true
        default: 'EXSi_80_I225V'
      driver:
        description: 'Driver Name'
        required: true
        default: 'cndi-igc'
        
jobs:
  Build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7' 
    
      - name: Download ESXi-Customizer-PS Script
        shell: powershell
        run: |
          $client = new-object System.Net.WebClient
          $client.DownloadFile('https://github.com/VFrontDe/ESXi-Customizer-PS/archive/refs/tags/2.9.0.zip','ESXi-Customizer-PS.zip')
          Expand-Archive -Path ESXi-Customizer-PS.zip -DestinationPath ./
          cd ESXi-Customizer-PS-2.9.0
          $env:WORK_DIR=$PWD
          $env:WORK_DIR
          echo "WORK_DIR=$env:WORK_DIR" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          
      - name: Install VMware.PowerCLI and Python dependency
        shell: powershell
        run: |
          #Install-Module -Name VMware.PowerCLI -AcceptLicense -Force -SkipPublisherCheck # take too much time and change to offline zip install
          Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope CurrentUser -Force
          Get-ExecutionPolicy
          scripts\Install_PowerCli.ps1
          pip3.exe install six psutil lxml pyopenssl
           
      - name: Download exsi8.0 Base image and Community-Driver
        shell: powershell
        run: |
          cd $env:WORK_DIR\
          Add-EsxSoftwareDepot https://hostupdate.vmware.com/software/VUM/PRODUCTION/main/vmw-depot-index.xml
          Get-EsxImageProfile |  ft Name | findstr "ESXi-8.0.0"
          Export-ESXImageProfile -ImageProfile "ESXi-8.0c-21493926-standard" -ExportToBundle -filepath ESXi-8.0c-21493926-standard.zip
          
          #$Driver_Url = 'https://hostupdate.vmware.com/software/VUM/PRODUCTION/main/esx/vmw/vib20/cndi-igc/VMW_bootbank_cndi-igc_1.2.10.0-1vmw.801.0.0.21495797.vib'
          #$Driver_Url = 'https://download3.vmware.com/software/vmw-tools/community-network-driver/Net-Community-Driver_1.2.7.0-1vmw.700.1.0.15843807_19480755.zip'
          #$DestFile = '.\Net-Community-Driver.zip'
          
          $Driver_Url = 'https://hostupdate.vmware.com/software/VUM/PRODUCTION/main/esx/vmw/vib20/cndi-igc/VMW_bootbank_cndi-igc_1.2.9.0-1vmw.800.1.0.20513097.vib'
          $DestFile = 'cndi-igc_1.2.10.0-1vmw.801.0.0.21495797.vib'
          Invoke-RestMethod -Uri $Driver_Url -OutFile $DestFile
          
          #Expand-Archive -Path .\$DestFile -DestinationPath .\driver
          #dir .\driver\vib20\net-community
          dir .\

          
      - name:  Generate EXSi-8.0 ISO File
        shell: powershell
        run: |
          cd $env:WORK_DIR\ 
          dir .
          Get-ExecutionPolicy
          Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope LocalMachine -Force
          #.\ESXi-Customizer-PS.ps1 -izip .\ESXi-8.0c-21493926-standard.zip -nsc -v80 -pkgDir .\driver\vib20\net-community -ipname ${{ github.event.inputs.tag }} -outDir ..\ -log ..\build-log.txt
          dir ..\
          .\ESXi-Customizer-PS.ps1 -izip .\ESXi-8.0c-21493926-standard.zip -nsc -v80 -pkgDir .\ -ipname ${{ github.event.inputs.tag }} -outDir ..\ -log ..\build-log.txt
          dir ..\
         
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.TOKEN }}
          name: ${{ github.event.inputs.tag }}
          tag_name: ${{ github.event.inputs.tag }}
          files: |
            build-log.txt
            ${{ github.event.inputs.tag }}.iso
