name: EXSi_60_Customized_Net-r8168
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true
        default: 'EXSi_60_Customized'
      driver:
        description: 'Driver Name'
        required: true
        default: 'net55-r8168'
        
jobs:
  Build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7' 
      
      - name: Python Check
        shell: powershell
        run: |
          python --version
          
      - name: Download ESXi-Customizer-PS Script
        shell: powershell
        run: |
          $client = new-object System.Net.WebClient
          $client.DownloadFile('https://github.com/VFrontDe/ESXi-Customizer-PS/archive/refs/tags/2.9.0.zip','ESXi-Customizer-PS.zip')
          Expand-Archive -Path ESXi-Customizer-PS.zip -DestinationPath ./
          cd ESXi-Customizer-PS-2.9.0
          $env:WORK_DIR=$PWD
          $env:WORK_DIR
          echo "WORK_DIR=$env:WORK_DIR" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Install VMware.PowerCLI and Python dependency
        shell: powershell
        run: |
          Install-Module -Name VMware.PowerCLI -AcceptLicense -Force -SkipPublisherCheck
          pip3.exe install six psutil lxml pyopenssl
           
      - name: Download exsi6.0 base image
        shell: powershell
        run: |
          cd $env:WORK_DIR\
          Add-EsxSoftwareDepot https://hostupdate.vmware.com/software/VUM/PRODUCTION/main/vmw-depot-index.xml
          # New-EsxImageProfile -CloneProfile "ESXi-6.0.0-20200204001-standard" -name "ESXi-6.0.0-20200204001-standard-r8168" -Vendor "oss.msft.vip"
          Export-ESXImageProfile -ImageProfile "ESXi-6.0.0-20200204001-standard" -ExportToBundle -filepath ESXi-6.0.0-20200204001-standard.zip
          
      - name:  Generate EXSi ISO File
        shell: powershell
        run: |
          cd $env:WORK_DIR\
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine
          .\ESXi-Customizer-PS.ps1 -izip .\ESXi-6.0.0-20200204001-standard.zip -nsc -v60 -vft -load ${{ github.event.inputs.driver }} -ipname ${{ github.event.inputs.tag }}_${{ github.event.inputs.driver }}
          dir .
         
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.TOKEN }}
          name: ${{ github.event.inputs.tag }}_${{ github.event.inputs.driver }}
          tag_name: ${{ github.event.inputs.tag }}
          files: |
            $env:WORK_DIR\${{ github.event.inputs.tag }}_${{ github.event.inputs.driver }}.iso
