name: EXSi_60_sata_Net-r8101
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Tag'
        required: true
        default: 'EXSI6.0'
      driver:
        description: 'Driver Name'
        required: true
        default: 'net-r8101'
        
jobs:
  Build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.7' 
    
      - name: Download ESXi-Customizer-PS Script
        shell: powershell
        run: |
          $client = new-object System.Net.WebClient
          $client.DownloadFile('https://github.com/VFrontDe/ESXi-Customizer-PS/archive/refs/tags/2.9.0.zip','ESXi-Customizer-PS.zip')
          Expand-Archive -Path ESXi-Customizer-PS.zip -DestinationPath ./
          cd ESXi-Customizer-PS-2.9.0
          $env:WORK_DIR=$PWD
          $env:WORK_DIR
          echo "WORK_DIR=$env:WORK_DIR" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          
      - name: Customize env vars
        shell: powershell
        run: |
          $env:VIB='sata-xahci,net-r8101'
          $env:VIB
          echo "VIB=$env:VIB" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          
          $env:EXSI6='ESXi-6.0.0-20200204001-standard.zip'
          $env:EXSI6
          echo "EXSI6=$env:EXSI6" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          
          
          $env:ISO='${{ github.event.inputs.tag }}_${{ github.event.inputs.driver }}'
          $env:ISO
          $env:IPNAME="$env:ISO".iso
          echo "ISO=$env:ISO" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "IPNAME=$env:ISO".iso | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          
      - name: Install VMware.PowerCLI and Python dependency
        shell: powershell
        run: |
          Install-Module -Name VMware.PowerCLI -AcceptLicense -Force -SkipPublisherCheck
          pip3.exe install six psutil lxml pyopenssl
           
      - name: Download exsi6.0 base image
        shell: powershell
        run: |
          cd $env:WORK_DIR\
          Add-EsxSoftwareDepot https://hostupdate.vmware.com/software/VUM/PRODUCTION/main/vmw-depot-index.xml
          Export-ESXImageProfile -ImageProfile "ESXi-6.0.0-20200204001-standard" -ExportToBundle -filepath $env:EXSI6
          
      - name:  Generate EXSi ISO File
        shell: powershell
        run: |
          cd $env:WORK_DIR\
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine
          .\ESXi-Customizer-PS.ps1 -izip .\$env:EXSI6 -nsc -v60 -vft -load $env:VIB -ipname $env:ISO -outDir ..\ -log ..\build-log.txt
          dir ..\
         
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.TOKEN }}
          name: $env:ISO
          tag_name: ${{ github.event.inputs.tag }}
          files: |
            build-log.txt
            $env:ISO.iso
